@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');


body {
    background-color: #000063;
    color: white;
}

div {
    padding: 30px;
    font-size: 35px;
    text-align: center;
    font-family: 'Rancho', cursive;
    text-transform: capitalize;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}


@keyframes anim {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        font-size: 50px;
    }
    100% {
        opacity: 0;
        font-size: 65px;
}
