@font-face {
    font-family: 'Urdu';
    src: url('https://dailypakistan.com.pk/assets/dailypakistan/css/nafees-nastaleeq-webfont.ttf');
    format('truetype');
} 

* {
     user-select:none;
     font-family: 'Patrick Hand SC', sans-serif;
}

body {
    height: 100vh;
    margin: 0;
    color: RoyalBlue;
    overflow: hidden;
}
video {
    width:100%;
}
button {
    border: 1px solid PowderBlue;
    background-color: RoyalBlue;
    border-radius: 10px;
    padding: 10px;
    color: white;
}
button, #logo {
    font-family: "Urdu";
}

.wait {
	font-family: "Urdu";
	animation : blink 1.5s infinite linear;
	} 
	
	@keyframes blink {
0%,100% {
	opacity :0;
	} 
	60% {
opacity : 1;
} 
} 
.box {
    width: 100vw;
    text-align: center;
    overflow-y: scroll;
    height: 89vh;
    display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(7, 80px);
    grid-column-gap: 3px;
    grid-row-gap: 3px;
    justify-content: center;
}

.box button {
    font-size: 20px;
    padding: 5px;
    display: inline-block;
    margin: 10px;
}

img {
    width:100vw;
    margin-bottom: 5px;
}

#title {
    position: relative;
    text-align: center;
    background-color: RoyalBlue;
    color: white;
}

#dlmode {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}
.back{
    font-size:18px;
    border: none;
    border-radius: 4px;
    color: white;
    z-index: 2;
    background-color:transparent ;
    position: absolute;
    top: -14px;
    left: 15px;
    
}

#back {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    height: 70%;
    z-index: 1;
    border: 2px solid white;
    width: 80px;
    border-radius: 5px;
}

#logo {
    display: inline-block;
    text-align: center;
    font-size: 20px;
    padding-bottom: 2px;
}

#credits {
    width: 100%;
    position: absolute;
    bottom: 0px;
    text-align: center;
    background-color: RoyalBlue;
    color: white;
    font-size : 20px;
}

#credits div {
    padding: 8px;
}

#loadingbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 22px;
}

#loading {
  display: inline-block;
  width: 80px;
  height: 80px;
}

#loading:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: RoyalBlue transparent Royalblue transparent;
  animation: loading 1.2s linear infinite;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}