@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital@1&display=swap%27');
body {
    background-color: #42A5F5;
    font-family: 'Alegreya sans', sans-serif;
}
#body {
    display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
}

button, select {
    font-family: 'Alegreya sans', sans-serif;
}
#ldr {
    height: 20px;
}


select {
    width: 200px;
    max-width: 200px;
    height: 40px;
    background-color: transparent;
    color: white;
    border : 2px solid white;
    font-weight: bold;
    font-size: 18px;
    margin:5px 5px;
}

button {
    background-color: white;
    color: #42A5F5;
    height: 35px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    margin:5px 5px;
    width: 80px;
    border-radius: 10px;
}

#poem {
    color: white;
    font-size: 16px;
}

#poem {
    display: none;
    background: url('https://iili.io/2SgZFf.md.jpg');
    height: 600px;
    overflow: auto;
    margin: 8px;
    border: 4px double white;
    padding: 10px;
    color: black;
    font-size: 19px;
    font-weight: bold;
}

.poem-selector {
    display: none;
}
.poet-selector {
    display: none;
}
h2 {
    color: white;
    text-align: center;
}
#back {
    display: none;
}
