* {
    font-family: 'Zilla Slab', sans-serif;
    outline: 0;
}
body {
    background: linear-gradient(90deg, #2F80ED, #56CCF2);
    margin: 0px;
}

input, button {
    font-weight: bold;
    font-size: 16px;
    color: white;
    border: 2px solid #373737;
    border-radius: 4px;
}

#topbar, #searchbox, #more, #forecastlabel, #forecast #date, #footer {
    background-color: rgba(55,55,55,0.9);
    color: white;
}
.material-icons.md-48 {
    font-size: 32px;
}
#topbar {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 8px;
}


#searchbox {
    padding: 10px;
    display: none;
}
#searchbox .inner {
    display: flex;
    justify-content: center;
    align-items: center;
}
#searchbox input {
    height: 32.5px;
    color: #373737;
    width: 200px;
}

#searchbox button {
    height: 39px;
    background-color: #2F80ED;
    width: 80px;
}

#topbar #searchicon {
    position: absolute ;
    right: 10px;
    top: 7px;
}

#mainbody {
    color: white;
    width: 85%;
    text-align: center;
    animation: appear 1s 1;
}

#forecast {
    width: 80%;
    border: 2px solid white;
    color: white;
    animation: forecast 1s 1;
    border-radius: 10px;
    padding: 5px;
    background-color: rgba(255,255,255,0.2);
}

#city {
    font-size: 35px;
    
}

#label {
    text-align: left;
}

#mainbody img {
    
}

#temp {
    float: right;
    font-size: 25px;
    padding-right: 2px;
    font-weight: bold;
}
#cond {
    float: left;
    font-size: 18px;
    padding-left: 8px;
}

#more {
    width: 90%;
    border-radius: 8px;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    margin: 5px;
    padding: 8px;
}


#forecast img {
    height: 45px;
    width: 45px;
    
}

#forecast #date {
    color: white;
    font-size: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 5px;
}

#forecast #avgtemp {
    padding-top: 3px;
    font-size: 23px;
}

#forecast #summary {
    font-size: 20px;
    padding-bottom: 5px;
}

#forecastlabel {
    color: white;
    padding: 5px;
}

#forecast #top {
    height: 45px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   font-size: 18px;
   background-color: #373737;
   color: white;
   text-align: center;
   padding: 6px;
}

#loadingbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#loading {
  display: inline-block;
  width: 80px;
  height: 80px;
}

#cityname, #tempc{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#loading:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: loading 1.2s linear infinite;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes appear {
    from {
        width: 0%;
    }
    to {
    
    width: 85%;
    }
}

@keyframes forecast {
    from {
        height: 0px;
        width: 0%;
    }
    to {
        height: 350px;
        width: 85%;
    }
}
