    	
    @font-face {
    font-family: 'Urdu';
    src: url('https://shahfahad19.github.io/newspapers/src/urdufont.ttf');
    format('truetype');
} 

* {
     user-select:none;
     font-family: 'Patrick Hand SC', sans-serif;
     outline: 0;
  
}
.img {
    position: relative ;
}
.img:after {
    content:"https://pkpapers.netlify.app";
    position: absolute;
    top:0px;
    left: 5px;
    font-size: 10px;
    color: #373737;
    font-style: italic;
    //width: 100%;
}
.img:before {
    content:"Visit https://pkpapers.netlify.app daily for updated newspapers";
    position: absolute;
    bottom:0px;
    right: 5px;
    //width: 100%;
    font-size: 10px;
    color: #373737;
    font-style: italic;
}
a {
  text-decoration: none;
  color: white ;
}
body {
    height: 100vh;
    margin: 0;
    color: RoyalBlue;
    display:flex;
    flex-direction: column;
    align-items:center;
    //overflow: hidden;
}
video {
    width:100%;
}
button {
    border: 1px solid PowderBlue;
    background-color: RoyalBlue;
    border-radius: 10px;
    padding: 10px;
    color: white;
}

.box button {
  position: relative;
}
button a {
  height: 100%;
  width :100%;
  display: block;
}
button, #logo, #msg, button a{
    font-family: 'Noto Nastaliq Urdu Draft';
}
#box {
    flex-basis: 100%;
    width : 100%;
}
.box {
    width: 100vw;
    text-align: center;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    justify-content: center;
}

.box button {
    font-size: 17px;
    padding: 5px;
    display: inline-block;
    margin: 10px;
}

img {
    width:100vw;
}
#title {
    position: relative;
    text-align: center;
    background-color: RoyalBlue;
    color: white;
    width: 100%;
    flex-basis: 30px;
}

#dlmode {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}
.back{
    font-size:18px;
    border: none;
    border-radius: 4px;
    color: white;
    z-index: 2;
    background-color:transparent ;
    position: absolute;
    top: -18px;
    left: 13px;
    
}

#back {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    height: 70%;
    z-index: 1;
    border: 1px solid white;
    width: 80px;
    border-radius: 5px;
}

#logo {
    display: inline-block;
    text-align: center;
    font-size: 18px;
    padding-bottom: 6px;
}

#credits {
    width: 100%;
    flex-basis: 30px;
    text-align: center;
    background-color: RoyalBlue;
    color: white;
    font-size : 20px;
}

#credits div {
    padding: 8px;
}

#msgbox {
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center ;
}

.downpdf {
  position: fixed;
  right: 5px;
  bottom: 45px;
  font-size: 25px;
  padding: 10px;
  border-radius: 50%;
  z-index: 999;
  background-color: RoyalBlue;
  color: white ;
}
