* {
     font-family: 'Slabo 27px', serif;
}

body {
    background: radial-gradient(Skyblue, RoyalBlue);
    height: 100vh;
    overflow: hidden;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock {
    background-color: rgba(255, 255, 255, .5);
    width: 80vw;
    max-width: 400px;
    border-radius: 50%;
    font-size: 130%;
    position: relative;
    border: 12px solid transparent ;
}

.clock::after {
    content: '';
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: grey;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 999;
    border: .5px solid black;
}

.clock .num {
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 1em;
    z-index: 12;
}

.clock .hand {
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translateX(-50%);
    transform-origin: bottom;
    z-index: 99;
    border-radius: 10px 10px 0px 0px;
}

.clock .second {
    width: 3px;
    height: 40%;
    background-color: rgba(255,0,0,0.5);
    border: .5px solid black;
}

.clock .minute {
    width: 4px;
    height: 37%;
    background-color: rgba(0,0,255,0.5);
    border: .5px solid black;
}

.clock .hour {
    width: 5px;
    height: 27%;
    background-color: rgba(0,0,0,0.5);
    border: .5px solid black;
}

.clock .date {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255,255,255, .35);
    bottom: 60px;
    font-size: 15px;
    padding: 3px;
    border-radius: 4px;
}

.ln {
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    z-index: 12;
    font-weight: 500;
}
