@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
body {
    font-family: 'Patrick Hand', sans-serif;
    text-align: center;
    background:linear-gradient(to right, orange, red);
    color:white;
}
#question {
    font-size: 50px;
}
button, input {
    font-family: 'Patrick Hand', sans-serif;
    box-shadow: 0px 0px 5px;
}
input {
    height: 42px;
    font-size: 40px;
    width: 150px;
    text-align: center;
    color: red;
    border: 2px solid white;
    margin: 8px;
    border-radius: 10px;
}
#quizbody button {
    width: 100px;
    height: 50px;
    margin: 8px;
    font-size: 30px;
    background-color: transparent;
    color: white;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 15px;
}
#serial {
    font-size: 25px;
    font-weight: bold;
}
#diff button {
    width: 200px;
    height: 50px;
    margin: 8px;
    font-size: 25px;
    background-color: transparent;
    color: white;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 15px;
}
#diff p {
    display: none;
}
#result {
    font-size: 25px;
    font-weight: bold;
}
.titlebar {
    margin: 10px;
}
.titlebar img {
    height: 25px;
    width: 25px;
    float:left;
    padding-top: 7px;
}
#count {
    padding: 2px;
    background-color: white;
    margin: 2px;
    color: red;
    border-radius: 10px;
    width: 65px;
    display: inline-block;
    height: 35px;
    text-align:right;
    padding-bottom: 5px;
    padding-left: 5px;
    background-color: #dbdbdb;
}
#count span {
    font-size: 30px;
}
#logo {
    font-size: 35px;
    font-weight: bold;
}
#nums button {
    height: 44px;
    width: 44px;
    font-size: 26px;
}
#timer, #bar {
    height: 10px;
    width: 220px;
}
#timer {
    background-color: transparent;
    border: 1px solid white;
}
#bar {
    background-color: white;
    position: relative;
    float: left;
    
}
